
<app-header></app-header>
<div class="blogArticle-Admin-main-container container-fluid">
  <div class="row ">
<!------   STATIC BLOCK : blogArticles LIST  ------->
    <div  class="blogArticleList col-lg-3 col-md-3 col-sm-3 col-xs-12">

  <!------  First Block : ajouter Article  ------->
      <div class="blogArticle-element-container pb-3" >
<!--    <div>
          <div class="vertical-line"></div>
          <div class="horizontal-line"></div> 
        </div> -->
        <div class="blogArticle-element-infos">
          <h4 class="blogArticle-element-title text">Ajouter un article</h4>
          <div class="blogArticle-element-button text">
            <button type="button" class="btn btn-lg" id="addBlogArticleBtn" (click)="displayNewblogArticleFields()"> + </button></div>
        </div>
      </div>

    <!------ Articles list   --------->
      <div *ngFor = "let blogArticle of blogArticles" [class.selected]= "blogArticle === chosenBlogArticle" (click)="onSelect(blogArticle)"  class="blogArticle-element-container articles pb-3 pt-3">
        <div class="img-container img-fluid m-auto">
          <img src="{{blogArticle.img}}" /> 
        </div>          
        <div class="blogArticle-element-infos">
          <h4 class="blogArticle-element-title ">Nom: {{blogArticle.title}} <br/> date: {{blogArticle.fulldate}}</h4>
          <div class="blogArticle-element-button">
     <!-- <div class="blogArticle-element-button ">        
            <button class="btn btn-lg d-block mb-3" id ="editBlogArticleBtn" (click)="displayEditBlogArticle()">editer</button>
            <button class="btn btn-lg d-block" id ="deleteBlogArticleBtn" (click) = "areYouSure()">supprimer</button>                
          </div>   -->
          </div>
        </div>     
      </div>
   </div>

<!------  INPUT FIELDS - CREATE NEW BLOG_ARTICLE  ------->

   <div *ngIf="blogArticleVisible" class="blogArticle-input-container col-lg-8 col-md-9 col-ms-9 col-xs-12">    
     <app-add-blog-article></app-add-blog-article>
   </div>

  <!------  INPUT FIELDS - EDIT SELECTED BLOG_ARTICLE  ------->
   <div *ngIf="selectedBlogArticle" class="blogArticle-input-container col-lg-8 col-md-7 col-ms-9 col-xs-12">
     <app-edit-blog-articles [blogArticle]="chosenBlogArticle"></app-edit-blog-articles>
   </div>

  </div>
</div>











