<div class="container-fluid">
  <div class="row">
    <form class="formContainer col-lg-9" action="">
      <p class="title">Merci de vous identifier</p>
      <div class="container">
        <label class="text col-lg-12" for="uname">Nom d'utilisateur :</label>
        <input class="col-lg-8" type="text" placeholder="Entrez votre nom d'utilisateur" name="user" required>
    
        <label class="text col-lg-12" for="psw">Mot de passe :</label>
        <input class="col-lg-8" type="password" placeholder="Entrez votre mot de passe" name="psw" required>
    
        <button class="text col-lg-3" type="submit">S'identifier</button>

        <label>
          <input  class="text" type="checkbox" checked="checked" name="remember"> Se souvenir de moi
        </label>
        <a class="text" href="#">Mot de passe oublié ?</a>

      </div>
    </form>
  </div>
</div>
