
<div class=" footer-container">
    <div>
        <div class="logo-container">
            <img class="" src="../../assets/logoNSB_navbar.png" alt="logo" />
        </div>

        <div id="footer-icone-container">
            <a target="_blank" href="https://www.facebook.com/NormandySunBike/"><img class="footer-icone" src="../../assets/icon_facebook.png" alt="icone facebook"/></a>
            <a target="_blank" href="https://www.youtube.com/channel/UCbM4EK9KWu_zHbILiJ96wZA"> <img class="footer-icone" src="../../assets/icon_youtube.png" alt="icone youtube"/></a>
        </div>

        <div id="footer-plan-container">
            <div class="footer-plan-point legal-text"><p routerLink="/Accueil">- > Accueil</p></div>
            <div class="footer-plan-point legal-text">
                <p routerLink="/Projet">- > Projet</p>
                <p routerLink="/SunTripTour2019">- > Sun Trip Tour 2019</p>
                <p routerLink="/SunTrip2020">- > Sun Trip 2020</p>
            </div>
            <div class="footer-plan-point legal-text"><p routerLink="/Sponsors">- > Sponsors</p></div>
            <div class="footer-plan-point legal-text"><p routerLink="/Contact">- > Contact</p></div>
        </div>
        <div class="copyright legal-text">
            ©2019 tous droits réservés | Sun Bike Team 4 Wild Code School  | <a routerLink="/CGU">CGU</a>
        </div>
    </div>