.footer-container{
    background-color: grey;
    opacity:0.5;
    transition: 1s;
    padding-bottom: 5vh;

}
.legal-container p{
    color:#fff;   
}
.logo-footer{
    margin-top: 5vh;
    margin-bottom: 5vh;
}