
<div class=" footer-container container-fluid text-center main-wrapper">
    <div>
        <div class="logo-container  col-sm">
            <img class="img-fluid logo-footer" src="../../assets/logoNSB_blanc.png" alt="logo" />
        </div>
        <div class="social-media-container col-sm">
            <a class="fb img-fluid" href="#" src="https://www.clipartmax.com/png/middle/73-735576_facebook-icon-facebook-logo-png-transparent-background.png" ></a>  
        </div>
        <div class="copyright col-sm legal">
            ©2018 tous droits réservés | Sun Bike Team 4 Wild Code School
        </div>
        <div class="legal-container col-sm legal">
            <p> À propos et mentions légales · Données personnelles</p>
        </div>
    </div>  
</div>