
.footer-container{
    background-color: grey;
    opacity:0.5;
    transition: 1s;

}


.legal-container p{
    padding-bottom:5%;
    color:#fff;
    font-size: 2vw;
    
}

.copyright{
    padding:2%;

    font-size: 2vw;

}

.logo-footer{
    width:20%;
    padding-top:2%;
}