

<div class="blog-element-container blog-element-impaire" >
  <p class="blog-date legal">{{articleDate}}</p>
  <svg version="1.1" class="blog-line-pont" x="0px" y="0px"
    width="8%" height="13vw" viewBox="0 0 41.884 177.598">
 <path class="blog-point" fill="none" d="M0,20.942C0,9.375,9.372,0,20.939,0c11.564,0,20.944,9.375,20.944,20.942c0,11.569-9.38,20.944-20.944,20.944
   C9.372,41.886,0,32.511,0,20.942z"/> 
 <line class="blog-line" x1="20.941" y1="71.598" x2="20.941" y2="177.598"/>
  </svg>

  
  <div class="blog-element-img" [ngStyle]="{'background-image': 'url('+articleImg+')'}"></div>
  <div class="blog-element-infos">
    <h4 class="blog-element-title subsubtitle">{{articleTitle}}</h4>
    <div class="blog-element-button text">Lire plus ...</div>
  </div>
</div>

<div class="blog-element-container blog-element-paire" >
  <p class="blog-date legal">{{articleDate}}</p>
  <svg version="1.1" class="blog-line-pont" x="0px" y="0px"
    width="8%" height="13vw" viewBox="0 0 41.884 177.598">
 <path class="blog-point" fill="none" d="M0,20.942C0,9.375,9.372,0,20.939,0c11.564,0,20.944,9.375,20.944,20.942c0,11.569-9.38,20.944-20.944,20.944
   C9.372,41.886,0,32.511,0,20.942z"/> 
 <line class="blog-line" x1="20.941" y1="71.598" x2="20.941" y2="177.598"/>
  </svg>
  <div class="blog-element-img" [ngStyle]="{'background-image': 'url('+articleImg+')'}"></div>
  <div class="blog-element-infos">
    <h4 class="blog-element-title subsubtitle">{{articleTitle}}</h4>
    <div class="blog-element-button text">Lire plus ...</div>
  </div>
</div>

