.edit-sponsors-container{
    height:auto;
    width:100%;
    display: flex;
    flex-direction: column;
    margin:0 ;
    text-align: center; 
    align-content: center;
} 
.sponsor-element-title{
    border-bottom: solid 3px #6f7c91;
    font-size: 1.8em;
}

/*----- change logo area  ------*/


.browseBtn{    /*  => "no_file selected" portion */
    font-size:1.5rem !important;
    padding:10rem 0 12rem 0;
    background-color: rgba (255, 255, 255, 0.3);
    border-radius:3px;
    cursor: pointer;
    width: 50px;
}

.plusSign{
    z-index:0;
    background-color: rgba(255, 255, 255, 0);
    border:none;
    font-size:12rem;
    color:grey;
    position:relative;
}   



/*----- change browse button ------*/


.newLogoUploadArea .logoActuelBackground{
    opacity:0.6;
    z-index:-10;
    border:1px solid grey;
    overflow:hidden;
    position:absolute;
}
.logoActuelBackground{
    overflow: hidden;
    width: 25%;
    top: 23%;
    left: 37.5%;
    margin: 0 auto;
}
@media only screen and (max-width : 960px) and (min-width: 640px){
    .logoActuelBackground{
        left: 30%;
        width: 40%;
        top: 15%;
    }
}
.logoActuelBackground > img {
    width: 100%;
}

.newLogoUploadArea{
    margin-bottom:5rem;
}


.newLogoUploadArea input[type=file] {   /*  => "browse + no_file selected" portion */
      opacity:0;
}


.newLogoUploadArea .logoActuelBackground:hover{
    opacity:0.2;
}

.newLogoUploadArea .browseBtn{
    z-index:10;
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.nomSponsor, .lienSponsor{
    color: rgba(0,0,0,0.60);
}

.edit-sponsors-container .nomSponsor, .lienSponsor{
    text-align:left;
}

.validerSponsorBtn btn{
    width:50% !important;

}
/* .uploading-area-editSponsor{
    padding:1% 0 1% 0;
}

.logoActuel, .changeLogoBtns, .newLogoEdit {
    width:100%;
    display:flex;
    flex-direction: column !important; 
} */



/* @media only screen and (min-width : 640px){
    .sponsorLogoActuel, .sponsorNewLogo{
        width:80%;
    }

} */

.sponsorLogoActuel, .sponsorNewLogo{
    width:100%;
    border:1px solid grey;
}

.filePlaceholder{ 
    outline: 1px dashed grey !important;
    display:block;
    height:80%;  
    cursor:pointer;  
}

.filePlaceholder:hover{
    outline:10px solid black;
}


@media only screen and (min-width : 960px) {

    .sponsorLogoActuel, .sponsorLogoActuel span .sponsorNewLogo{
        width: 80%;
    }
}


.changeLogoBtns{
    align-self:center;
    width:100% !important;
}


.form-group{
    display:flex !important;
    flex-direction: column !important;
    margin-bottom:2%;
}


.sponsors-input-container .sponsors-input-fields{
    width:100%;
    margin:2rem;   
}


/* ----input fields---- */

mat-form-field.mat-form-field{
    font-size: 1.3rem;
}


.validatecancel-btn{
    justify-content:space-between;
}


#validate-btn, #cancel-btn, #suppress-btn{
    margin-bottom:2%;
    color: #fff;
    border: none;
    background-color: #6f7c91;
    font-size: 1.5rem;
    cursor: pointer;
    margin :0 auto;
}

#suppress-btn{
    margin:2rem 0 2rem 0 !important;
    background-color:rgba(255, 0, 0, 0.667);
}

#validate-btn{
    background-color: #6f7c91;
}

#cancel-btn{
    background-color: #8596b1;
}

#cancel-btn:hover{
    background-color:#505566;
}

 #suppress-btn:hover{
    background-color: rgb(193, 6, 6);
}

#validate-btn:hover{
    background-color:#505566;
}



/*----- upload buttons (mat-form-field angular-file-uploader component)-----*/

/*--select & reset buttons ---*/
::ng-deep .ng-star-inserted label.btn, ::ng-deep .ng-star-inserted button.btn{
    background-color: #505566;
    border:1px solid #505566;
    font-size: 1rem;
    color:#fff;
    width:100%;
    margin:3% 0 1% 0;  
}


/* ---display file to upload name ----*/

::ng-deep .afu-valid-file.ng-star-inserted{
    text-align: center;
    align-content: center;
    font-size: 1rem;
    border-radius:3px;
    padding:0.1rem;
    color:#fff;
    background-color:grey; 
    
}

@media only screen and (max-width : 640px) {
    ::ng-deep .afu-valid-file.ng-star-inserted{
        line-height: 1.4rem;
        font-size: 2vw;
    }  
}


::ng-deep .afu-valid-file.ng-star-inserted .text-primary{  
    color:#fff !important;
    text-align: center !important;
}

::ng-deep .afu-upload-status.ng-star-inserted{
    font-size: 2vw;  
}

::ng-deep .btn btn-success afu-upload-btn{
    font-size: 1rem;
    color:#fff;
    background-color:grey !important;
    width:100%;
}


#default.container.ng-star-inserted div{
    margin:0 !important;
    padding:0 !important;
    width:100% !important;
}

::ng-deep .afu-valid-file.ng-star-inserted .text-primary{
    color:#fff !important;
}

 @media only screen and (max-width : 640px) {

    ::ng-deep .ng-star-inserted.afu-upload-btn{
        font-size: 3rem;
    }

}
