
<!------  INPUT FIELDS - EDIT SELECTED SPONSOR  ------->
<div id=modal-add-sponsor>
    <app-modal-admin *ngIf="modal" [elementName]="modalElementName" [actionOnElement]="modalActionOnElement" [message]="modalMessage"></app-modal-admin>
</div>
<div class="edit-sponsors-container">
  
  <h2 class="sponsor-element-title subsubtitle">Modifier {{sponsor.name}}</h2>

  <!------ NEW change logo area   ( only one upload image block )------->
  <div class="uploading-area-addSponsor">
      <div class="change-image-img subsubtitle" *ngIf="inputStatus">
          <div id="sponsor-img-container">
            <img [src]=sponsor.img/>
          </div>
      </div>
      <div class="img-name-input subsubtitle" *ngIf="inputStatus == false"><div>{{ImgNameForInput}}</div></div>
  
      <form class="filePlaceholder" id="square-input-file">
        <input class="browseBtn" type="file" name="photo" id="imageInput" accept="image/*" id="img-input" (change)="detectInputStatus()"/>
      </form>
    </div>    


  <!------ form fields for sponsor editing ------->
  <form *ngIf="registerForm != null" [formGroup]="registerForm" (ngSubmit)="validateButton()">
      <!-- Value : {{ registerForm.value | json }} // display input infos --> 
    <div class="form-group">
      <span class="nomSponsor">Changer le nom du sponsor : </span>
      <mat-form-field appearance="outline">
         <input matInput placeholder="{{sponsor.name}}" formControlName="sponsorName" aria-label="sponsor-name" [(ngModel)]="newSponsorName">
      </mat-form-field>

      <span class="lienSponsor">Changer le lien du sponsor : </span>
      <mat-form-field appearance="outline">
        <input matInput placeholder="{{sponsor.link}}" formControlName="sponsorLink" aria-label="sponsor-link" [(ngModel)]="newSponsorLink">
      </mat-form-field>

      <mat-form-field> 
          <mat-select [(ngModel)]="selectedLevel" formControlName="sponsorLevel" placeholder="Type de sponsor : {{selectedLevel}}">
            <mat-option value="1">Niveau 1</mat-option>
            <mat-option value="2">Niveau 2</mat-option>
            <mat-option value="3">Niveau 3</mat-option>
          </mat-select>
      </mat-form-field>
       
      <mat-form-field *ngIf="selectedLevel == 1" appearance="fill" placeholder="select level">
          <textarea rows="7" maxlength=""  matInput placeholder="{{sponsor.description}}" formControlName="sponsorDescription" aria-label="sponsor-description" [(ngModel)]="newSponsorDescription"></textarea>
      </mat-form-field>
    </div>

    <div class="validatecancel-btn row">
      <button class="btn btn-lg sponsors-input-fields col-5" id="cancel-btn" routerLink="/admin/sponsors">Annuler</button>
      <button class="btn btn-lg sponsors-input-fields col-5" id="validate-btn" (click)="validateButton()" (click)="uploader.uploadAll()" routerLink="/admin/sponsors">Valider</button> 
    </div>
    <button class="suppressSponsor btn btn-lg sponsors-input-fields" id="suppress-btn" (click)="suppSponsor()" routerLink="/admin/sponsors">Supprimer ce sponsor</button>
  </form>
  
 