
<!------  INPUT FIELDS - EDIT SELECTED SPONSOR  ------->

<div class="edit-sponsors-container">

  <h4 class="sponsor-element-title text">Modifier ce sponsor</h4>

  <!------ NEW change logo area   ( only one upload image block )------->
  <div class="newLogoUploadArea">
    <input class="browseBtn" type="file" name="photo" id="imageInput" accept="image/*" (mouseover)="onMouseOver()" (mouseleave)="onMouseLeave()"/>
    <button class="plusSign" id="plusSignId" > +  </button>
    <div class="logoActuelBackground"><img src="{{sponsor.img}}"/></div>
  </div>      


  <!------ form fields for sponsor editing ------->
  <form *ngIf="registerForm != null" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <!-- Value : {{ registerForm.value | json }} // display input infos --> 
    <div class="form-group">
      <span class="nomSponsor">Nom du sponsor : </span>
      <mat-form-field appearance="outline">
         <input matInput placeholder="{{sponsor.name}}" formControlName="sponsorName" aria-label="sponsor-name" [(ngModel)]="newSponsorName">
      </mat-form-field>

      <span class="lienSponsor">Lien du sponsor : </span>
      <mat-form-field appearance="outline">
        <input matInput placeholder="{{sponsor.link}}" formControlName="sponsorLink" aria-label="sponsor-link" [(ngModel)]="newSponsorLink">
      </mat-form-field>

      <mat-form-field> 
          <mat-select [(ngModel)]="selectedLevel" formControlName="sponsorLevel" placeholder="Type de sponsor : {{selectedLevel}}">
            <mat-option value="1">Niveau 1</mat-option>
            <mat-option value="2">Niveau 2</mat-option>
            <mat-option value="3">Niveau 3</mat-option>
          </mat-select>
      </mat-form-field>
       
      <mat-form-field *ngIf="selectedLevel == 1" appearance="fill" placeholder="select level">
          <textarea rows="7" maxlength=""  matInput placeholder="{{sponsor.description}}" formControlName="sponsorDescription" aria-label="sponsor-description"></textarea>
      </mat-form-field>
    </div>

    <div class="validatecancel-btn row">
      <button class="btn btn-lg sponsors-input-fields col-5" id="cancel-btn" routerLink="/admin/sponsors">Annuler</button>
      <button class="btn btn-lg sponsors-input-fields col-5" id="validate-btn" (click)="validateButton()" (click)="uploader.uploadAll()" routerLink="/admin/sponsors">Valider</button> 
    </div>
    <button class="suppressSponsor btn btn-lg sponsors-input-fields" id="suppress-btn" (click)="suppSponsor()" routerLink="/admin/sponsors">Supprimer ce sponsor</button>
  </form>
  
 