.edit-sponsors-container{
    height:auto;
    width:100%;
    display: flex;
    flex-direction: column;
    margin:0 ;
    text-align: center; 
    align-content: center;
    padding:0 10% 0 10%;
} 

.sponsor-element-title {
 text-align: left;
 margin-top: 12vh;
 border-bottom: solid 3px #194B3E;
 padding-bottom: 1vw;
}

#modal-add-sponsor {
    margin-left: -25%;
    margin-bottom: -8vh;
}

/*----- change logo area  ------*/


.browseBtn{
    z-index:10;
    height: 50vh;
    opacity: 0;
}
.browseBtn:hover{
    cursor: pointer;
}

.plusSign{
    z-index:0;
    background-color: rgba(255, 255, 255, 0);
    border:none;
    font-size:12rem;
    color:grey;
    position:relative;
}   
.change-image-text {
    margin: 0;
}
.change-image-img {
    position: absolute;
    width: 100%;
    height: 100%;
}
.change-image-img > div {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#sponsor-img-container{
    overflow: hidden;
    width: 1em;
}

#sponsor-img-container > img {
    width: 100%;
}

.img-name-input{
    position: absolute;
    width: 100%;
    height: 100%;
    color: #fff;
}
.img-name-input > div {
    width: 30%;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-sponsors-container{
    height:auto;
    width:100%;
    display: flex;
    flex-direction: column;
    padding:0 10% 5vh 10%;
    text-align: center; 

} 

#modal-add-sponsor {
    margin-left: -25%;
    margin-top: -8vh;
}


.sponsorNewLogoAdd{
    width:100%;
}

.filePlaceholder{ 
    outline: 1px solid grey !important;
    z-index:-10;
    margin-bottom:3rem;
    margin-top:3rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;    
}


.uploading-area-addSponsor{
    position: relative;
}

.logoActuelBackground{
    overflow: hidden;
    width: 25%;
    top: 23%;
    left: 37.5%;
    margin: 0 auto;
}
@media only screen and (max-width : 960px) and (min-width: 640px){
    .logoActuelBackground{
        left: 30%;
        width: 40%;
        top: 15%;
    }
}
.logoActuelBackground > img {
    width: 100%;
}

.newLogoUploadArea{
    margin-bottom:5rem;
}


.nomSponsor, .lienSponsor{
    color: rgba(0,0,0,0.60);
}

.edit-sponsors-container .nomSponsor, .lienSponsor{
    text-align:left;
}

.validerSponsorBtn btn{
    width:50% !important;

}

.sponsorLogoActuel, .sponsorNewLogo{
    width:100%;
    border:1px solid grey;
}

.filePlaceholder{ 
    outline: 1px dashed grey !important;
    display:block;
    height:80%;  
    cursor:pointer;  
}

.filePlaceholder:hover{
    outline:10px solid black;
}


@media only screen and (min-width : 960px) {

    .sponsorLogoActuel, .sponsorLogoActuel span .sponsorNewLogo{
        width: 80%;
    }
}


.changeLogoBtns{
    align-self:center;
    width:100% !important;
}


.form-group{
    display:flex !important;
    flex-direction: column !important;
    margin-bottom:2%;
}


.sponsors-input-container .sponsors-input-fields{
    width:100%;
    margin:2rem;   
}


/* ----input fields---- */

mat-form-field.mat-form-field{
    font-size: 1.3rem;
}


.validatecancel-btn{
    justify-content:space-between;
}


#validate-btn, #cancel-btn, #suppress-btn{
    margin-bottom:2%;
    color: #fff;
    border: none;
    background-color: #6f7c91;
    font-size: 1.5rem;
    cursor: pointer;
    margin :0 auto;
}

#suppress-btn{
    margin:2rem 0 2rem 0 !important;
    background-color:rgba(255, 0, 0, 0.667);
}

#validate-btn{
    background-color: #6f7c91;
}

#cancel-btn{
    background-color: #8596b1;
}

#cancel-btn:hover{
    background-color:#505566;
}

 #suppress-btn:hover{
    background-color: rgb(193, 6, 6);
}

#validate-btn:hover{
    background-color:#505566;
}



/*----- upload buttons (mat-form-field angular-file-uploader component)-----*/

/*--select & reset buttons ---*/
::ng-deep .ng-star-inserted label.btn, ::ng-deep .ng-star-inserted button.btn{
    background-color: #505566;
    border:1px solid #505566;
    font-size: 1rem;
    color:#fff;
    width:100%;
    margin:3% 0 1% 0;  
}


/* ---display file to upload name ----*/

::ng-deep .afu-valid-file.ng-star-inserted{
    text-align: center;
    align-content: center;
    font-size: 1rem;
    border-radius:3px;
    padding:0.1rem;
    color:#fff;
    background-color:grey; 
    
}

@media only screen and (max-width : 640px) {
    ::ng-deep .afu-valid-file.ng-star-inserted{
        line-height: 1.4rem;
        font-size: 2vw;
    }  
}


::ng-deep .afu-valid-file.ng-star-inserted .text-primary{  
    color:#fff !important;
    text-align: center !important;
}

::ng-deep .afu-upload-status.ng-star-inserted{
    font-size: 2vw;  
}

::ng-deep .btn btn-success afu-upload-btn{
    font-size: 1rem;
    color:#fff;
    background-color:grey !important;
    width:100%;
}


#default.container.ng-star-inserted div{
    margin:0 !important;
    padding:0 !important;
    width:100% !important;
}

::ng-deep .afu-valid-file.ng-star-inserted .text-primary{
    color:#fff !important;
}

 @media only screen and (max-width : 640px) {

    ::ng-deep .ng-star-inserted.afu-upload-btn{
        font-size: 3rem;
    }

}
