#race-description-page{
    height: 100vh;
    width: 100%;
}
/* DESCRIPTION*/
#race-description-container{
    width: 100%;
    height: 100vh;
    background: #EEF6A3;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
#race-description{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#race-description > h2, #race-description > p, #race-description > a {
    width: 60%;
    margin-left: 10%;
}

/* button transition */
#race-button-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
@media screen and (min-width: 960px){
    #race-description-container{
        padding-top: 12vh;
    }
    #race-description,#race-blog {
        height: 80vh;
    }
    #race-button-container{
        height: 8vh;
    }
    
}
@media screen and (min-width: 640px) and (max-width: 960px){
    #race-description-container{
        padding-top: 10vh;
    }
    #race-description,#race-blog {
        height: 85vh;
    }
    #race-button-container{
        height: 5vh;
    }
    #race-description > p {
        width:70%;
    }
}
@media screen and (max-width: 640px){
    #race-description-container{
        padding-top: 10vh;
    }
    #race-description,#race-blog {
        height: 83vh;
    }
    #race-description{
        overflow-y: scroll;
    }
    #race-button-container{
        height: 7vh;
    }

    #race-description > h2 {
        width: 80%;
        padding-top: 6em;
    }
    #race-description > p {
        width: 80%;
    }
    #race-description > a {
        padding-bottom: 6em;
    }
}
#race-button{
    width: 40%;
    border-top: solid  2px;
    transition: 0.3s;
    transition-timing-function: ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
}
#race-button:hover{
    width:70%;
    border-top: solid  1px;
    transition:0.3s;
    transition-timing-function: ease-in;
    cursor: pointer;
}

/* BLOG */


/* Background */
#race-background{
    font-size: 13vw;
    font-family: 'Arvo', serif;
    font-weight: 900;
    position: absolute;
    margin-left: 2%;
    margin-top: 5vh;
    z-index: 0;
    line-height: 1;
    color: #EEF6A3;
    opacity: 0.3;
    /* #f9fde4 */
}


#race-blog-container{
    background:url("../../assets/background_races.png");
    background-position: center;
    background-size: 100%;
}
@media screen and (min-width: 640px) and (max-width: 960px){
    #race-blog-container{background-size:140%}
    #race-background{font-size: 17vw;}
}
@media screen and (max-width: 640px){
    #race-blog-container{background-size:200%}
    #race-blog{height: 95vh;}
    #race-background{font-size: 18vw;}
}

#race-blog{
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}