<div id="race-description-page">
<!-- DESCRIPTION -->
<div id="race-description-container" [ngStyle]="{'background-image': 'url('+raceBackgroundImg+')'}">
  <div id="race-description">
    <h2 class="title" id="race-title">{{raceTitle}}</h2>
    <p class="text">{{raceText}}</p>
    <a class="link" href={{raceLink}} >En savoir plus</a>
  </div>
  <div id="race-button-container">
    <div id="race-button" class="text" (click)="scrollClickButton()">{{scrollButton}}</div>
  </div>
</div>
<!-- BLOG -->
  <div id="race-blog-container">
    <div id="race-background">LYON -<br/>- CANTON<br/>- - 2020</div>
    <div id="race-blog">
        <app-blog-page></app-blog-page>
    </div>
  </div>
  <app-footer></app-footer>
