
 
 
 <div id class="container-fluid navbarContainer">
  
    <label for="toggle">&#9776;</label>
    <input type="checkbox" id="toggle"/>

    <nav class="navbar row">
      <div id="logo" class="col-xl-2 col-lg-2 col-sm-2 col-xs-12">
        <h1 class="navbar-brand" href="#">NORMANDY<br>SUN BIKE TOUR</h1>
      </div>
      <div id="navLinks" class="col-auto">
        <a routerLink="leProjet">LE PROJET</a>
        <a routerLink="sunTripTour2019">SUN TRIP TOUR 2019</a>
        <a routerLink="sunTripTour2020">SUN TRIP 2020</a>
        <a routerLink="sponsors">SPONSORS</a>
        <a routerLink="blog" >BLOG</a>
        <a routerLink="contact">CONTACT</a>
      </div>
    </nav>
 </div>


 
  