<!------  INPUT FIELDS - EDIT SELECTED SPONSOR  ------->

<div class="edit-blogArticle-container">
  <h4 class="blogArticle-title text">Modifier cet article</h4>

  <!------ change blogArticle image area  ------->  
  <div class="uploading-area-editBlogArticle row">  
    <div class="currentArticleImg col-5"> 
      <span>Image actuelle</span>
      <input type="image" class="image-article-current" src="{{blogArticle.img}}" alt="image article" />  
    </div>  
    <div class="changeImgBtns col-2">
      <angular-file-uploader  #fileUploadEdit [config]="afuConfig4" id="uploadingArea"></angular-file-uploader>
      <input style="display:none" type="file" (change)="onFileChanged($event)">
    </div> 
    <!-- new logo area -->
    <div class="newArticleImg col-5">
      <span>Nouvelle image</span>
      <div class="filePlaceholder">
        <div *ngFor="let file of fileUploads"> 
          <input type="image" class="new-article-image" src="{{file.url}}" alt="new-article-image"  id="uploadingArea"/>
        </div> 
      </div>
    </div>
  </div>  

  <!------ form fields for blogArticle editing ------->
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <!-- Value : {{ registerForm.value | json }} // display input infos --> 
    <div class="form-group">

      <div class="changeDate&selectRace">

<!--    <div class="BlogArticle-date col-5 row">
          <span class="editDate col-2">Date</span>
          <mat-form-field class=" blogArticleDay col-3" appearance="outline">
            <input matInput placeholder="jour:{{blogArticle.day}}" formControlName="blogArticleDate" aria-label="blogArticle-date" size="3">
          </mat-form-field>
          <mat-form-field class="col-3" appearance="outline">
            <input matInput placeholder="mois:{{blogArticle.month}}" formControlName="blogArticleDate" aria-label="blogArticle-date">
          </mat-form-field>
          <mat-form-field class="col-4" appearance="outline">
            <input matInput placeholder="année:{{blogArticle.year}}" formControlName="blogArticleDate" aria-label="blogArticle-date">
          </mat-form-field>
        </div> -->

        <div class=" selectRace row">
          <span class="selectRace col-3"> Article concernant : </span>
          <mat-checkbox value="1" class="selectPrep col-3">Préparation</mat-checkbox>
          <mat-checkbox value="2" class="select2019 col-3">Sun Trip 2019</mat-checkbox>
          <mat-checkbox value="3" class="select2020 col-3">Sun Trip 2020</mat-checkbox>     
        </div>

      </div>


      <mat-form-field appearance="outline">
        <input matInput placeholder="Titre : {{blogArticle.title}}" formControlName="blogArticleName" aria-label="blogArticle-name">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <textarea rows="7" matInput placeholder="Texte : {{blogArticle.text}}" formControlName="blogArticleText" aria-label="blogArticle-text"></textarea>
      </mat-form-field>

      <div class="validate&cancel-btn row">
        <button class="btn btn-lg blogArticle-input-fields col-5" id="cancel-btn" click="selectedBlogArticle == false">Annuler</button>
        <button class="btn btn-lg blogArticle-input-fields col-5" id="validate-btn" click="onSubmit()">Valider</button> 
      </div>

    </div>
  </form>