.edit-blogArticle-container{
    height:auto;
    width:100%;
    display: flex;
    flex-direction: column;
    margin:0 ;
    text-align: center; 
    align-content: center;
} 

.blogArticle-title{
    border-bottom: solid 3px #6f7c91;
    font-size: 1.8em;
}

/*----- date fields ------*/

.form-group .changeDate&selectRace div{

    outline:1px solid grey !important;

}

/*----- change image area  ------*/

.uploading-area-editBlogArticle{
    padding:1% 0 1% 0;
}

.currentArticleImg, .changeImgBtns, .newArticleImg {
    width:100%;
    display:flex;
    flex-direction: column !important; 
    margin:0 !important;
}

.image-article-current, .new-article-image{
    width:100%;
    border:1px solid grey;
}

.filePlaceholder{ 
    outline: 1px dashed grey !important;
    display:block;
    height:80%;  
    cursor:pointer;  
}

.filePlaceholder:hover{
    outline:10px solid black;
}

@media only screen and (min-width : 960px) {

    .image-article-current, .image-article-current span , .new-article-image{
        width: 80%;
    }
}

.changeImgBtns{
    align-self:center;
    width:100% !important;
    margin:0 !important;
    padding:0 !important;
}


::ng-deep .changeImgBtns .container {
    margin:0 !important;

}




.form-group{
    display:flex !important;
    flex-direction: column !important;
    margin-bottom:2%;
}

.blogArticle-input-fields{
    width:100%;
    margin:2rem;
}



/* ----input fields---- */

mat-form-field.mat-form-field{
    font-size: 1.3rem;
    
}


.validate&cancel-btn{
    justify-content:space-between;
}



#validate-btn, #cancel-btn{
    margin-bottom:2%;
    color: #fff;
    border: none;
    background-color: #6f7c91;
    font-size: 1.5rem;
    cursor: pointer;
    margin :0 auto;
}


#validate-btn{
    background-color: #6f7c91;
}

#cancel-btn{
    background-color:red;
}

#cancel-btn:hover{
    background-color: rgb(193, 6, 6);
}
#validate-btn:hover{
    background-color:#505566;
}

/*----- upload buttons (angular-file-uploader component)-----*/

/*--select & reset buttons ---*/
::ng-deep .ng-star-inserted label.btn, ::ng-deep .ng-star-inserted button.btn{
    background-color: #505566;
    border:1px solid #505566;
    font-size: 1rem;
    color:#fff;
    width:100%;
    margin:3% 0 1% 0;  
}


/* ---display file to upload name ----*/

::ng-deep .afu-valid-file.ng-star-inserted{
    text-align: center;
    align-content: center;
    font-size: 1rem;
    border-radius:3px;
    padding:0.1rem;
    color:#fff;
    background-color:grey; 
    
}

@media only screen and (max-width : 640px) {
    ::ng-deep .afu-valid-file.ng-star-inserted{
        line-height: 1.4rem;
        font-size: 2vw;
    }  
}


::ng-deep .afu-valid-file.ng-star-inserted .text-primary{  
    color:#fff !important;
    text-align: center !important;
}

::ng-deep .afu-upload-status.ng-star-inserted{
    font-size: 2vw;  
}

::ng-deep .btn btn-success afu-upload-btn{
    font-size: 1rem;
    color:#fff;
    background-color:grey !important;
    width:100%;
}


#default.container.ng-star-inserted div{
    margin:0 !important;
    padding:0 !important;
    width:100% !important;
}

::ng-deep .afu-valid-file.ng-star-inserted .text-primary{
    color:#fff !important;
}

 @media only screen and (max-width : 640px) {

    ::ng-deep .ng-star-inserted.afu-upload-btn{
        font-size: 3rem;
    }

}
