.admin-nav-background{
    width: 100%;
    height: 100vh;
    background: url(../../../assets/background_races.png);
    background-size: cover;
}

.adminGroup{
    margin: 8vh 1vh 0 1vh;
    color: #194B3E;
}

.adminGroup h1{
    padding-top: 2vh;
    padding-left: 5%;
    border-bottom: solid 5px #194B3E;
}

.adminSection{
    margin: 2vh auto;
    padding: 5vh;
    width: 100%;
    height: 18vh;
    border: none;
    text-align: start;
    font-size: 2.5rem;
    color: #fff;
    background-color: #194B3E;
    cursor: pointer;
}

.adminSection:hover{
    background-color: #194B3E;
}

@media (min-width: 1030px){
    .adminSection{
        transition: padding-left 1s;
        -webkit-transition: padding-left 1s;
    }
    
    .adminSection:hover{
        transition: padding-left 1s;
        -webkit-transition: padding-left 1s;
        padding-left: 20%;
    }
}

button{
    transition: 0.3s;
}

button:focus{
    outline: none;
    transform: scale(0.99);
}
