<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="adminGroup col-lg-5">
      <h1 class="title">ÉDITER SITE</h1>
      <button class="adminSection text" routerLink="/admin/actuality">Actualité</button>
      <button class="adminSection text" routerLink="/admin/sponsors">Sponsors</button>
      <button class="adminSection text" routerLink="/admin/races">Courses</button>
    </div>
    <div class="adminGroup col-lg-5">
      <h1 class="title">BLOG</h1>
      <button class="adminSection text">Articles</button>
    </div>
  </div>
</div>