<div id="article-container">
  <h1 id="article-categorie" class="subtitle">{{articleCategorie}}</h1>
  <div id="article-background">
    <div id="article-content-container">
      <h2 id="article-title" class="big-title">{{articleTitle}}</h2>
      <p id="article-date" class="legal-text">{{articleDate}}</p>
      <div id="article-img">
        <img [src]="articleImg" [alt]="articleImgDescription" />
      </div>
        <p id="article-img-description" class="legal-text">{{articleImgDescription}}</p>
      <p id="article-text" class="text">{{articleText}}</p>
      <p id="article-signature" class="subsubtitle">- Benoit - :)</p>

    </div>
  </div>
</div>
<app-footer></app-footer>
