#sponsor-page{
    padding-top: 12vh;
    width: 80%;
    margin:0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
@media only screen and (max-width: 960px){
    #sponsor-page{
        padding-top: 10vh;
    }
}
.sponsor-logo{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.sponsor-title{
    text-transform: capitalize;
    padding-top: 2vh;
    width: 100%;
}
.sponsor-txt{
    margin-top: 2vh;
}


#sponsor-first-second{
    width: 100%;
    padding-top: 4vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media only screen and (max-width: 960px){
    #sponsor-first-second{
        flex-direction: column;
    }
}

#sponsor-first{
    width: 70%;
    height: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#sponsor-first-text{
    width: 47%;
    display: flex;
    justify-content: center;
    flex-direction: column
}
#sponsor-first-logo{
    width: 47%;
    height: 100%;
    background: grey
}
@media only screen and (max-width: 960px) and (min-width: 640px) {
    #sponsor-first{
        width:100%;
        height: 40vw;
    }
}
@media only screen and (max-width: 640px) {
    #sponsor-first{
        width:100%;
        height: 90vh;
        flex-direction: column;
        align-items: flex-start;
    }
    #sponsor-first-text, #sponsor-first-logo{
        width: 100%;
        height: 45%;
    }
}

#sponsor-second-container{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sponsor-second{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sponsor-second-logo{
    width: 80%;
    height: 70%;
    background: grey;
}

@media only screen and (max-width: 960px){
    #sponsor-second-container{
        flex-direction: row;
        width: 100%;
        height: 55vw;
        padding-top: 7vh;
    }
    .sponsor-second{
        height: 100%;
        width: 45%;
    }
    .sponsor-second-logo{
        width: 100%;
    }
}
@media only screen and (max-width: 640px){
    #sponsor-second-container{
        height: 65vw;
    }
}

#sponsor-third-container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 7vh;
}

