

<div class="main-container container-fluid">

  <div class="row ">
    
      <div class="sponsorList col-lg-4 col-sm-3 col-xs-2">
      
        <img src="https://dummyimage.com/150x70/000/fff" />
        <img src="https://dummyimage.com/150x70/000/fff" />
        <img src="https://dummyimage.com/150x70/000/fff" />
        <img src="https://dummyimage.com/150x70/000/fff" />
        <img src="https://dummyimage.com/150x70/000/fff" />
      </div>


      <div class="sponsors-input-container col-lg-8 col-sm-9 col-xs-10">

        <div class="sponsors-input-group">
          <div class="sponsor-logo-input">
            <img class="logo-container"src="https://dummyimage.com/300x150/919191/a8a6a8"/>
            <input type="file" accept="image/*" class="img-input-box">
          </div>  
          <input type="text" class="sponsors-input-fields form-control" aria-label="sponsor-name" aria-describedby="basic-addon1" placeholder="Nom">
          <textarea class="form-control sponsors-input-fields"  placeholder="Description"></textarea>
          <button class="btn btn-lg sponsors-input-fields">Valider</button>
        </div>

      </div>

  </div>

</div>






  



