<<<<<<< HEAD
.sponsorAdmin-main-container{    
    height:100vh;
    margin-top:3rem;

}


/*  block droit  */

=======


.sponsorList img{         /*  block gauche  */
    display: block;
    margin:2.5rem;
}

                                    /*  block droit  */
>>>>>>> mydev
.sponsors-input-container{
    width:100%;
    margin:0;

}


<<<<<<< HEAD
=======
.browseImg{
    just: center;
    
}
>>>>>>> mydev
.sponsors-input-group {
    margin-left:15%;
}


.sponsor-logo-input{
    margin-left: 15%;
}
<<<<<<< HEAD


=======
>>>>>>> mydev
.sponsors-input-container img  {   
    width:50%;
    margin:2rem;
 
}

.sponsors-input-container .sponsors-input-fields{
    width:80%;
    margin:2rem;

}

<<<<<<< HEAD

.sponsor-type-btn{
    align-content: center;
}


.input-group-prepend{
    margin-left:30% !important;
}

.browse-upload-btns{
    margin-right:50% !important;

}

/* ---blog element ré-apdaté à blocks-logo gauche ----*/


.blog-element-container{
    width: 100%;
    height: 10vw;
    display: flex;
    margin-bottom: 5vw;
}

@media screen and (max-width: 640px){
    .blog-element-container{
        height: 20vw;

    }
}


@media screen and (max-width: 960px){
    .blog-element-impaire, .blog-element-paire{
        padding:0;
    }
}

@media screen and (min-width: 960px){
    .blog-element-impaire{
        flex-direction: row;
        /* padding-left: 36.85%; */
    }
    .blog-element-paire{
        flex-direction: row-reverse;
        padding-right: 36.85%;
    }
}


.blog-element-img{
    width:50%; 
    background: rgb(112, 112, 112);
    margin-left: 2%;
    margin-right: 2%;
}

 @media screen and (min-width: 640px) and (max-width: 960px){
    .blog-element-img{
        width:50%; 
    }
} 

/* 
@media screen and (max-width: 640px) {
    .blog-element-img{
        width:30%; 
    }
} */


.blog-element-infos{
    width:10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2%;
    margin-right: 2%;
}
@media screen and (min-width: 640px) and (max-width: 960px){
    .blog-element-infos{
        width:50%; 
    }

    .circle{
        display:none;
    }
}

@media screen and (max-width: 640px) {
    .blog-element-infos{
        width:55%; 
    }
}

.blog-element-title{
    border-bottom: solid 3px;
    font-size: 1.8em;
}

.blog-element-button{
    margin-top: 0.5em;
}





@media screen and (max-width: 640px){
    .blog-element-title{
        font-size: 1rem;
    }
    .blog-element-button{
        display: none;
    }
}

=======
.logo-container{
    position: relative;
    height:20%;
    background-color: grey;
}


.img-input-box{
    transform: translate(-100% , 150%);
    position: absolute;
   
}
>>>>>>> mydev
