<div class="cguPage-container">
  <div class="cguText-container">
    <div class="cguTitre">
      <h1>CONDITIONS GÉNÉRALES D'UTILISATION</h1>
    </div>
      <h5 class="cguArticleTitle">Article 1 : Objet</h5>
      <p class="cguArticleTex textt">Les présentes « conditions générales d’utilisation » ont pour objet l’encadrement juridique des modalités de mise à disposition des services du site normandysunbike.fr et leur utilisation par « l’Utilisateur ».<br/>
          Les conditions générales d’utilisation doivent être acceptées par tout Utilisateur souhaitant accéder au site.<br/>
          Elles constituent le contrat entre le site et l’Utilisateur.<br/>
          L’accès au site par l’Utilisateur signifie son acceptation des présentes conditions générales d’utilisation.<br/>
          Éventuellement :
          En cas de non-acceptation des conditions générales d’utilisation stipulées dans le présent contrat, l’Utilisateur se doit de renoncer à l’accès des services proposés par le site.
          normandysunbike.fr se réserve le droit de modifier unilatéralement et à tout moment le contenu des présentes conditions générales d’utilisation.</p>

      <h5 class="cguArticleTitle">Article 2: Mentions légales</h5>

      <p class="cguArticleText text">
          Nom de domaine du site concerné par ces mentions légales : http://normandysunbike.fr<br/>
          Propriétaire du site  :  Mr Benoît Ganivet<br/>
          Statut du propriétaire du site : Particulier<br/>
          Nom du responsable de publication (personne en charge des mises a jour du contenu) : Mr Benoît Ganivet<br/>
          Contact email ou telephone du responsable de publication : <a target="_blank" class="cguLink" routerLink="/Contact">normandysunbike@gmail.com</a><br/>
          Nom du WebMaster (personne en charge des modifications techniques) : Mr Benoît Ganivet<br/>
          Contact email ou telephone du WebMaster : <a target="_blank" class="cguLink" routerLink="/Contact">normandysunbike@gmail.com </a><br/>
          <br/>
          Hébergeur du site : Société OVH  2 rue Kellermann – 59100 ROUBAIX – France<br/>
          +33 9 72 10 10 07  <a target="_blank" class="cguLink" href="http://www.ovh.com/fr/support/"> http://www.ovh.com/fr/support/ </a> <br/>
          <br/>
          Noms des créateurs du site :  Normandy SunBike Team for Wild Code School: <br/>
          Etienne Rabin :<a target="_blank" class="cguLink" href="https://www.linkedin.com/in/etienne-rabin/"> https://www.linkedin.com/in/etienne-rabin/ </a><br/>
          Gaëtan Hardy : <a target="_blank" class="cguLink" href="https://www.linkedin.com/in/gaetanhardy/">https://www.linkedin.com/in/gaetanhardy/ </a><br/>
          H. Agnès Genay :<a target="_blank" class="cguLink" href="https://www.linkedin.com/in/h-agnes-genay/"> https://www.linkedin.com/in/h-agnes-genay/ </a><br/>
          <br/>
          Crédits photographiques : The Sun Trip©  <a target="_blank" class="cguLink" href="https://www.thesuntrip.com">https://www.thesuntrip.com </a>
      </p>

      <h5 class="cguArticleTitle">Article 3 : Propriété intellectuelle </h5>
      <p class="cguArticleText text">
          Les marques, logos, signes et tout autre contenu du site font l’objet d’une protection par le Code de la propriété intellectuelle et plus particulièrement par le droit d’auteur.
          L’Utilisateur sollicite l’autorisation préalable du site pour toute reproduction, publication, copie des différents contenus.
          L’Utilisateur s’engage à une utilisation des contenus du site dans un cadre strictement privé. Une utilisation des contenus à des fins commerciales est strictement interdite.
      </p>

      <h5 class="cguArticleTitle">Article 4 : Données personnelles </h5>
      <p class="cguArticleText text">
          Le site n''est pas déclaré à la CNIL car il ne recueille pas d'nformations personnelles.
          Le site NormandySunBike ne collecte aucune donnée personnelle, 
          seule la page “contact” requiert l'adresse email de l'utilisateur afin qu'il puisse recevoir une réponse à son message (son adresse email apparaîtra dans l'email reçu par le contact) mais celle-ci ne sera en aucun cas stockée par le site.
      </p>

      <h5 class="cguArticleTitle">Article 5 : Responsabilité et force majeure </h5>
      <p class="cguArticleText text">
          Les sources des informations diffusées sur le site sont réputées fiables. Toutefois, le site se réserve la faculté d’une non-garantie de la fiabilité des sources. Les informations données sur le site le sont à titre purement informatif. Ainsi, l’Utilisateur assume seul l’entière responsabilité de l’utilisation des informations et contenus du présent site.
      </p>

      <h5 class="cguArticleTitle">Article 6 : Liens hypertextes </h5>
      <p class="cguArticleText text">
          De nombreux liens hypertextes sortants sont présents sur le site, cependant les pages web où mènent ces liens n’engagent en rien la responsabilité de normandysunbike.fr qui n’a pas le contrôle de ces liens.
          L’Utilisateur s’interdit donc à engager la responsabilité du site concernant le contenu et les ressources relatives à ces liens hypertextes sortants.
      </p>

      <h5 class="cguArticleTitle">Article 7 : Évolution du contrat </h5>
      <p class="cguArticleText text">
          Le site se réserve à tout moment le droit de modifier les clauses stipulées dans le présent contrat.
      </p>

      <h5 class="cguArticleTitle">Article 8 : Durée</h5>
      <p class="cguArticleText text">
          La durée du présent contrat est indéterminée. Le contrat produit ses effets à l’égard de l’Utilisateur à compter de l’utilisation du service.
      </p>

      <h5 class="cguArticleTitle">Article 9 : Droit applicable et juridiction compétente</h5>
      <p class="cguArticleText text">
          La législation française s’applique au présent contrat. En cas d’absence de résolution amiable d’un litige né entre les parties, seuls les tribunaux de la Cour d’Appel de Paris sont compétents.
      </p>
      
      <h5 class="cguArticleTitle">Article 10 : Acceptation des conditions générales d’utilisation </h5>
      <p class="cguArticleText text">
          J’atteste avoir pris connaissance des mentions légales et des conditions générales d’utilisation du site internet normandysunbike.fr et les accepte.
      </p>
  </div>
</div>
<app-footer></app-footer>
