.actualityParts {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    cursor: pointer;
    margin: 2vh 2%;
    padding: 0;
  }

.actualityParts:hover {
    filter: none;
    -webkit-filter: none;
}

/*********************** Selected section ***********************/
.selectedSection{
    filter: none;
    -webkit-filter: none;
}

.checkMark{
    position: relative;
    bottom: 10vh;
    left: 7vh;
}

/*********************** Validation button ***********************/
.validateBtn{
    
    color: #fff;
    border: none;
    background-color: #6f7c91;
    font-size: 1.5rem;
    cursor: pointer;
}

.validateBtn:hover{
    background-color: #505566;
}

/*********************** Confirmation Message ***********************/
.confirmationMessage{
    /* display: none; */
    /* margin: 2vh auto; */
    font-size: 1.5rem;
}

@media (min-width: 1024px){
    .container-fluid{
        height: 90vh;
    }
}