.admin-nav-background{
    width: 100%;
    height: 90vh;
    background: url(../../../assets/background_races.png);
    background-size: cover;
}

.actualityParts {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin: 2vh 2%;
    padding: 0;
    height: 35vh;
    background-position: center;
    background-size: cover;
    color: #d4d4d4;
  }

.actualityParts:hover {
    filter: none;
    -webkit-filter: none;
}

.actualityParts h2{
    font-size: 2.5rem;
    margin: 5%;
}

#tripPlan{
    background-image: url("/assets/project_admin.png")
}

#trip2019{
    background-image: url("/assets/race2019_admin.png")
}

#trip2020{
    background-image: url("/assets/race2020_admin.png")
}

/*********************** Selected section ***********************/
.selectedSection{
    filter: none;
    -webkit-filter: none;
    color: #fff;
}

/*********************** Validation button ***********************/
.validateBtn{
    margin-top: 5vh;
    color: #fff;
    border: none;
    background-color: #194B3E;
    font-size: 1.5rem;
    cursor: pointer;
}

.validateBtn:hover{
    background-color: #073A2F;
}

/*********************** Confirmation Message ***********************/
.firstRow{
    height: 20vh;
}

#confirmationMessage{
    opacity: 0;
    transition: opacity 1s;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    align-self: center;
}