<app-header></app-header>
<div class="admin-nav-background">
  <div class="container-fluid">
    <div class="row">
      <div class="selectionSide p-0 col-xl-4">
        <div id="trip2019" class="raceBox selected" (click)="selectedRace('trip2019')">
          <div class="race">
            <h2 class="title">2019</h2>
            <img class="img-fluid" src="assets/race2019_admin.png"/>
          </div>
          <div class="checkbox" id="trip2019">
            <div class="button"></div>
          </div>
        </div>
        <div id="trip2020" class="raceBox" (click)="selectedRace('trip2020')">
          <div class="race">
            <h2 class="title">2020</h2>
            <img class="img-fluid" src="assets/race2020_admin.png"/>
          </div>
          <div class="checkbox" id="trip2020">
            <div class="button"></div>
          </div>
        </div>
      </div>
      <div class="descriptionSide col-md-12 col-lg-12 col-xl-8">
        <form id="raceDescForm" action="#">
          <textarea class="raceDescription text" maxlength="700" rows="18" form="raceDescForm" required>{{textArea}} Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eleifend mi in nulla pharetra convallis. Vestibulum at nunc dignissim, lacinia orci non, luctus lorem. Mauris eleifend et lorem sed ultrices. Ut at auctor neque. Quisque sit amet velit blandit, volutpat risus sit amet, fringilla sem. Nam egestas augue id mi hendrerit, in cursus felis consectetur. Donec ac quam maximus, congue nunc vel, porta odio. Aliquam efficitur mauris eu luctus tristique. Vivamus nibh mi, pharetra quis porta vitae, commodo vitae ex. Nullam ut dolor et odio suscipit finibus. Etiam faucibus consequat consequat. Donec mollis dignissim risus eget finibus.</textarea>
          <button class="validateBtn" routerLink="/admin/navigation" type="submit">Valider</button>
        </form>
      </div>
    </div>
  </div>
</div>