.row{
    height: 90vh;
}

.selectionSide{
    margin: auto 0;
}

/*************************** Selection side **************************/

.raceBox{
    height: 40%;
    display: flex;
    align-items: center;
    text-align: end;
    justify-content: center;
    margin: 10% 0;
}

.race{
    margin: 0;
    width: 60%;
    height: 30vh;
    cursor: pointer;
    opacity: 0.5;
    background-position: center;
    background-size: cover;
}

.race h2{
    padding: 5% 10%;
    color: #bdbdbd;
}

.race2019{
    background-image: url("/assets/race2019_admin.png");
}

.race2020{
    background-image: url("/assets/race2020_admin.png");
}

.checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    width: 6vh;
    margin-left: 5vh;
    border-radius: 50%;
    border: solid 3px #6f7c91;
    cursor: pointer;
}

.selected .race{
    opacity: 1;
}

.selected h2{
    color: #fff;
}

.selected .button{
    height: 75%;
    width: 75%;
    background-color: #6f7c91;
    border-radius: 50%;
}

/***************************** Description side ****************************/

.descriptionSide{
    display: flex;
    justify-content: center;
    align-items: center;
}

.raceDescription{
    height: 70vh;
    width: 100%;
    border: solid 1px #6f7c91;
    font-size: 1.4rem;
    padding: 4%;
}

.raceDescription:focus{
    outline: none !important;
    border: solid 2px #6f7c91;
}

#raceDescForm{
    width: 80%;
}

/*********************** Validation button ***********************/
.validateBtn{
    margin: 2vh 0;
    width: 100%;
    color: #fff;
    border: none;
    background-color: #6f7c91;
    font-size: 1.5rem;
    cursor: pointer;
}

.validateBtn:hover{
    background-color: #505566;
}

.validateBtn:focus{
    outline: none !important;
}

@media (min-width:760px) and (max-width: 1024px){
    .selectionSide{
        display: inline-flex;
        justify-content: center;
    }

    .raceBox{
        display: block;
        width: 40%;
        margin: 10% auto;
    }

    .race{
        width: 100%;
    }

    .checkbox{
        margin: 5% 40%;
    }

    .raceDescription{
        height: 50vh;
    }
}