<app-header></app-header>
<div class="admin-nav-background">
  <div class="container-fluid">
    <div class="row">
      <div class="selectionSide p-0 col-xl-4">
        <div id="trip2019" class="raceBox selected" (click)="selectedRace('trip2019')">
          <div class="race">
            <h2 class="title">2019</h2>
            <img class="img-fluid" src="assets/race2019_admin.png"/>
          </div>
          <div class="checkbox" id="trip2019">
            <div class="button"></div>
          </div>
        </div>
        <div id="trip2020" class="raceBox" (click)="selectedRace('trip2020')">
          <div class="race">
            <h2 class="title">2020</h2>
            <img class="img-fluid" src="assets/race2020_admin.png"/>
          </div>
          <div class="checkbox" id="trip2020">
            <div class="button"></div>
          </div>
        </div>
      </div>
      <div class="descriptionSide col-xl-8">
        <form id="raceDescForm">
          <textarea class="raceDescription text"
                    maxlength="700" 
                    rows="18" 
                    *ngIf="race != null" 
                    required>{{race.content}}</textarea>
          <button class="validateBtn" type="button" (click)="update(race)">Valider</button>
        </form>
      </div>
    </div>
  </div>
</div>