.landingPageContainer{
    margin-bottom:30%;
}


#tryptiqueContainer{
    margin-top:10%;
    justify-content: center;
    height:80%;
    display:flex; 
    padding:0;

}

#tryptiqueContainer img{
    width:100%;

}



/* ------------ MEDIA QUERIES ------------ */

@media only screen and (max-width: 720px) {
    
    #tryptiqueContainer {
        visibility : hidden;
    }

}