<div id="projet-container">
  <!-- WHO -->
  <div id="projet-qui-container" class="projet-point-container">
    <div id="projet-qui-title" class="title">BENOIT <br/>- GANIVET</div>
    <div id="projet-qui-img-1"></div>
    <div id="projet-qui-img-2"></div>
    <p id="projet-qui-text-1" class="subsubtitle">" Et olim licet otiosae sint tribus tergentes iactari pacataeque."</p>
    <div id="projet-qui-subtitle" class="subtitle">QUI SUIS-JE ?</div>
    <p id="projet-qui-text-2" class="text">Et olim licet otiosae sint tribus pacataeque centuriae et nulla suffragiorum certamina set Pompiliani redierit securitas temporis, per omnes tamen quotquot sunt partes terrarum, ut domina suscipitur et regina et ubique patrum reverenda cum auctoritate canities populique Romani nomen circumspectum et verecundum. </p>
  </div>
  <!-- WHAT -->
  <div id="projet-quoi-container" class="projet-point-container">
      <div id="projet-quoi-title" class="title">- THE <br/>SUN TRIP</div>
      <div id="projet-quoi-img-1"></div>
      <div id="projet-quoi-img-2"></div>
      <div id="projet-quoi-subtitle" class="subtitle">MON IDÉE</div>
      <p id="projet-quoi-text-1" class="text">Et olim licet otiosae sint tribus pacataeque centuriae et nulla suffragiorum certamina set Pompiliani redierit securitas temporis, per omnes tamen quotquot sunt partes terrarum, ut domina suscipitur et regina et ubique patrum reverenda cum auctoritate canities populique Romani nomen circumspectum et verecundum. </p>    
  </div>
  <!-- HOW -->
  <div id="projet-comment-container" class="projet-point-container">
      <div id="projet-comment-title" class="title">NORMANDY<br/>- SUN BIKE</div>
      <div id="projet-comment-img-1"></div>
      <div id="projet-comment-img-2"></div>
      <div id="projet-comment-subtitle" class="subtitle">MON VÉLO SOLAIRE</div>
      <p id="projet-comment-text-1" class="text">Et olim licet otiosae sint tribus pacataeque centuriae et nulla suffragiorum certamina set Pompiliani redierit securitas temporis, per omnes tamen quotquot sunt partes terrarum, ut domina suscipitur et regina et ubique patrum reverenda cum auctoritate canities populique Romani nomen circumspectum et verecundum. </p>  
  </div>
  <div id="projet-next-container" class="projet-point-container">
      <div id="projet-comment-title" class="title">- TO BE<br/>CONTINUED</div>

  </div>
  
</div>
