p, a{
    color:#B4DDFC;
}

.title, .subtitle{
    color:#fff;
    line-height: 1;
}

.circle {
    position: absolute;
}
.circle1{
    margin-left: 65vh;
    margin-top: 30vh;
}
#path-projet1 {
    height: 97vh;
    margin-left: 43vh;
    margin-top: 36vh;
}
.circle2{
    margin-left: 35vh;
    margin-top: 137vh;
}
#path-projet2 {
    height: 122vh;
    margin-left: 30vh;
    margin-top: 148vh;
}
.circle3{
    margin-left: 119vh;
    margin-top: 273vh;
}
#path-projet3 {
    height: 89vh;
    margin-left: 47vh;
    margin-top: 283vh;
}
.circle4{
    margin-left: 40vh;
    margin-top: 373vh;
}
#path-projet4 {
    height: 140vh;
    margin-left: 28vh;
    margin-top: 381vh;
}
.circle5{
    margin-left: 150vh;
    margin-top: 525vh;
}
#path-projet5 {
    height: 88vh;
    margin-left: 30vh;
    margin-top: 535vh;
}
.circle6{
    margin-left: 26vh;
    margin-top: 625vh;
}
.path-projet {
    position: absolute;
}
.path-projet > img{
    height: 100%;
}
@media screen and (max-width: 960px){
    #path-projet-container{
        opacity: 0.3;
        margin-left: -10em;
        z-index: 1;
    }
}

@media screen and (max-width: 640px) {
    #projet-container{
        overflow-x: hidden;
    }
    .subsubtitle{
        font-size: 1.2em;
    }
}

#projet-container{
    background: #2D73A9; 
}

.projet-point-container{
    height: 100vh;
    position: relative;
    background: url(../../assets/background_projet.png);
    background-size: cover;
}

/* QUI */
#projet-qui-container{
    padding-left: 8%;
    height: 100vh;
    padding-top: 14vh;
    z-index: 1000;
}
#projet-qui-img-1{
    width: 17em;
    height: 12em;
    background:#CACACA;
    margin-top: -0.8em;
    background:url("/assets/famille.jpg");
    background-position: center;
    background-size: cover;
}
#projet-qui-img-2{
    width: 9em;
    height: 12em;
    background:#CACACA;
    margin-top: -10em;
    margin-left: 13em;
    border: 1px solid #2D73A9;
    background:url("/assets/benoit.png");
    background-size: 140%;
    background-position: center;
}
#projet-qui-text-1{
    width:8.5em;
    margin-top: -0.5em;
}
#projet-qui-subtitle{
    margin-top: 0.5em;
}
#projet-qui-text-2{
    width:32em;
    margin-top: 1em;  
}
@media screen and (max-width: 640px) {
    #projet-qui-img-2{
        width: 40%;
        height: 50vw;
        margin-left: 55%;
    }
    #projet-qui-text-1{
        margin:0;
        display: none;
    }
    #projet-qui-subtitle{
        margin:0;
        margin-top: 2vh;
    }
    #projet-qui-text-2{
        width:90%;
        margin:0;
        margin-top: 2vh;
    }
}



/* QUOI */
#projet-quoi-container{
    height: 100vh;
    padding-top: 26vh;
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    padding-right: 8%;
}
#projet-quoi-title{
    align-self: flex-end;
    text-align: right;
    z-index: 100;
    margin-right: 8em;
}
#projet-quoi-img-1{
    width: 23em;
    height: 15em;
    background:#CACACA;
    align-self: flex-end;
    margin-top: -10em;
    background: url("https://i1.wp.com/www.thesuntrip.com/wp-content/uploads/2013/03/13708293_387265334730525_2710800920486127847_o.jpg?fit=1024%2C680&ssl=1");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
#projet-quoi-img-2{
    width:10em;
    height: 10em;
    align-self: flex-end;
    background:url("../../assets/suntrip_logo.png");
    background-position: center;
    background-size: 100%;
    margin-top: -4em;
    margin-right: 22em;
    border: solid 1px #2D73A9;
}

#projet-quoi-subtitle{
    align-self: flex-end;
    margin-right: 3em;
    margin-top: -0.9em;
}
#projet-quoi-text-1{
    width:32em;
    align-self: flex-end;
    margin-top: 0.5em;
}
@media screen and (max-width: 640px) {
    #projet-quoi-title{
        margin:0;
    }
    #projet-quoi-img-1{
        margin:0;
        width: 90%;
        margin-top: -6.5vw;  
    }
    #projet-quoi-img-2{
        margin:0;
        width: 30%;
        height: 30vw;
        align-self: flex-start;
        margin-top: -15vw;
        margin-left: 5%;
    }
    #projet-quoi-subtitle{
        margin: 0;
        margin-top: -12vw;
        margin-right: 3%;
    }
    #projet-quoi-text-1{
        margin:0;
        width: 94%;
        margin-top: 2vh;
    }
}


/* COMMENT */
#projet-comment-container{
    height: 100vh;
    padding-top: 14vh;
    padding-left: 8%;
    margin-top: 20vh;
}
#projet-comment-img-1{
    width: 27em;
    height: 13em;
    background:url("/assets/velo3D.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-top: 0.8em;
}
#projet-comment-img-2{
    width: 12em;
    height: 11.2em;
    background:url("/assets/bike2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    border: solid 1px #2D73A9;
    margin-top: -1em;
    margin-left: 1em;
}
#projet-comment-text-1{
    width: 26em;
    margin-top: -8em;
    margin-left: 15em;
}
@media screen and (max-width: 640px) {
    #projet-comment-title{
        font-size: 1.8em;
    }
    #projet-comment-img-1{
        width: 94%;
        height: 42vw;
    }
    #projet-comment-img-2{
        display: none;
        margin: 0;
        
    }
    #projet-comment-text-1{
        width: 90%;
        margin:0;
        margin-top:3vh;
    }
}

.projet-img {
    overflow: hidden;
}
.projet-img > img {
    width: 100%;
}

/* site */
#projet-site-container{
    height: 100vh;
    margin-top: 20vh;
    padding-top: 14vh;
    padding-right: 8%;
    display: flex;
    flex-direction: column;
}
#projet-site-title{
    text-align: end;
    align-self: flex-end;
}
#projet-site-text{
    width: 30em;
    margin-top: 1em;
    align-self: flex-end;
}
#projet-site-img-1{
    width: 8em;
    border: solid 1px #2D73A9;
    padding: 1.5em 0 1.5em 0;
    align-self: flex-end;
    margin-right: 32em;
    margin-top: -3em;
    z-index: 300;
    background: #fff;
}
#projet-site-img-2{
    width: 20em;
    align-self: flex-end;
    margin-right: 13em;
    margin-top: -7em;
}

@media screen and (max-width: 640px) {
    #projet-site-text{
        margin: 0 auto;
        width: 90%;
        z-index: 500;
    }
    #projet-site-img-2{
        width: 90%;
        margin: 0 auto;
        margin-top: -6em;
    }
}

/* Realisation */
#projet-real-container{
    height: 100vh;
    margin-top: 20vh;
    padding-top: 14vh;
    padding-right: 8%;
    display: flex;
    flex-direction: column;
    padding-left: 8%;
}
#projet-real-title{
    z-index: 400;
}
#projet-real-img-1 {
    width: 17em;
    height: 12em;
    background: #555555;
    z-index: 300;
    margin-top: 1em;
    
}
#projet-real-text-1{
    width: 25em;
    margin-top: -11em;
    margin-left: 19em;
    margin-bottom: 2em;
}
#projet-real-img-2 {
    width: 20em;
    margin-left: 5em;
}
#projet-real-text-2{
    width: 25em;
    margin-top: -12em;
    margin-left: 27em;
}
@media screen and (max-width: 640px) {
    #projet-real-title{
        z-index: 400;
        font-size: 1.8em;
    }
    #projet-real-img-1, #projet-real-text-1, #projet-real-img-2, #projet-real-text-2 {
        margin: 0 auto;
        width: 100%;
        margin-top: 1em;
    }
    #projet-real-img-1, #projet-real-img-2 {
        padding-bottom: 40vh;
    }
}


/* Ouverture */
#projet-open-container{
    height: 100vh;
    margin-top: 40vh;
    padding-top: 14vh;
    padding-right: 8%;
    display: flex;
    flex-direction: column;
}
#projet-open-title{
    margin-top: 12vh;
    align-self: flex-end;
}
#projet-open-text{
    align-self: flex-end;
    margin-top: 0.5em;
    width: 40em;
}
@media screen and (max-width: 640px) {
    #projet-open-title{
        margin: 0;
        margin-top: 35vh;
        margin-left: 5%;
    }
    #projet-open-text{
        margin: 0 auto;
        width: 90%;
    }
    #projet-open-container{
        height: 130vh;
    }

}


@media screen and (min-width: 640px) and (max-width: 960px){
    #projet-qui-container {
        padding-top:25vh;
        padding-left: 5%;
    }
    #projet-quoi-container{
        padding-top:35vh;
        margin-top:0;
        padding-right: 5%;
    }
    #projet-comment-container{
        padding-top:25vh;
        margin-top:0;
        padding-left: 5%;
    }
    #projet-next-container{
        padding-top:25vh;
        margin-top:0;
        padding-right: 5%;
    }
}

@media screen and (max-width: 640px) {
    #projet-container{
        width: 100%;
        margin:0;
    }
    #projet-qui-container {
        width: 100%;
        height: 100%;
        padding-left: 5%;
    }
    #projet-quoi-container{
        width: 100%;
        padding-right: 5%;
        padding-top: 10vh;
        margin-top:10vh;
    }
    #projet-comment-container{
        width: 100%;
        padding-left: 5%;
        margin-top:10vh;
    }
    #projet-next-container{
        width: 100%;
        padding-right: 5%;
        margin-top:10vh;
    }
}

#projet-to-top-button-container {
    position: fixed;
    margin-top: 80vh;
    margin-left: 90%;
    z-index: 1900;
}
#projet-to-top-button-container:hover > #projet-to-top-button-text {
    display: block;
}
#projet-to-top-button-text{
    position: absolute;
    width: 12em;
    margin-left: -10em;
    margin-top: 1.7em;
    display: none;
}
#projet-to-top-button {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    opacity: 0.8;
    transition: 0.5s;
}
#projet-to-top-button:hover {
    cursor: pointer;
    opacity: 1;
}
#projet-to-top-button-arrow {
    transform: rotate(90deg) scale(0.65);
}