<div id="projet-container">
  <!-- WHO -->
  <div id="projet-qui-container" class="projet-point-container">
    <div id="path-projet-container">
        <div class="circle circle1"></div>
        <div class="path-projet" id="path-projet1"><img src="../../assets/path-projet-1.png"/></div>
        <div class="circle circle2"></div>
        <div class="path-projet" id="path-projet2"><img src="../../assets/path-projet-2.png"/></div>
        <div class="circle circle3"></div>
        <div class="path-projet" id="path-projet3"><img src="../../assets/path-projet-3.png"/></div>
        <div class="circle circle4"></div>
        <div class="path-projet" id="path-projet4"><img src="../../assets/path-projet-4.png"/></div>
        <div class="circle circle5"></div>
        <div class="path-projet" id="path-projet5"><img src="../../assets/path-projet-5.png"/></div>
        <div class="circle circle6"></div>
    </div>
    <div id="projet-qui-title" class="title">BENOIT <br/>- GANIVET</div>
    <div id="projet-qui-img-1"></div>
    <div id="projet-qui-img-2"></div>
    <div id="projet-qui-subtitle" class="subtitle">QUI SUIS-JE ?</div>
    <p id="projet-qui-text-2" class="text">
        Benoit Ganivet 42 ans déjà, normand depuis toujours, assistant
        social depuis 20 ans, marié avec Anne-Caroline depuis 17 ans,
        père de 4 enfants de 13 ans à 9 ans, une envie de voyager
        autrement, des idées qui fourmillent et s’entrechoquent pour
        aboutir à la conception d’un camping bike pour participer à la plus
        folle course de vélo électro solaire …..
    </p>
  </div>
  <!-- WHAT -->
  <div id="projet-quoi-container" class="projet-point-container">
      <div id="projet-quoi-title" class="title">- THE <br/>SUN TRIP</div>
      <div id="projet-quoi-img-1"></div>
      <div id="projet-quoi-img-2"></div>
      <div id="projet-quoi-subtitle" class="subtitle">MON IDÉE</div>
      <p id="projet-quoi-text-1" class="text">En 2014, je découvre par hasard le film sur la première édition du Sun Trip. C’est une
        révélation j’ai envie d’y participer un jour. En 2015, je croise fortuitement deux concurrents
        à l’entrainement sur les routes normandes. Cette course me fait des clins d’œil…. En mai
        2017, l’idée du camping-bike surgit. </p>    
  </div>
  <!-- HOW -->
  <div id="projet-comment-container" class="projet-point-container">
      <div id="projet-comment-title" class="title">DE L'IDÉE - <br/>À LA MODÉLISATION</div>
      <div id="projet-comment-img-1"></div>
      <div id="projet-comment-img-2"></div>
      <p id="projet-comment-text-1" class="text">
            pour cela, j’ai sollicité l’IUT à Alençon (Génie Mécanique et
            Productique) en juin 2017 et dés la rentrée 4 étudiants se positionnaient et c’est des
            rencontres régulières et des échanges avec eux que les plans sont sortis. Merci à Lucas,
            Dimitri, Victor et Alexandre.</p>  
  </div>
  <div id="projet-site-container" class="projet-point-container">
        <div id="projet-site-title" class="title">UN SITE<br/>- INTERNET</div>
        <p class="text" id="projet-site-text">Pour relater cette belle aventure.
            Pour offrir une belle vitrine à tous ceux qui m’aident.
            Personnalisé, facilement maintenable pour moi et consultable sur tous les écrans.
            Une belle rencontre avec Agnés, Etienne et Gaetan de la WILD CODE SCHOOL (école de
            codeurs) à La Loupe permet cela. Merci
        </p>
        <div id="projet-site-img-1" class="projet-img"><img src="../../assets/logo_WCS.png"/></div>
        <div id="projet-site-img-2" class="projet-img"><img src="../../assets/equipeWCS.png"/></div>

  </div>
  <div id="projet-real-container" class="projet-point-container">
        <div id="projet-real-title" class="title">DE LA MODELISATION<br/>- A LA REALISATION</div>
        <div id="projet-real-img-1" class="projet-img"><img src="../../assets/"/></div>
        <p class="text" id="projet-real-text-1">Les plans sont chauds mais cela ne construit pas le vélo.
                Pour souder le cadre en alu, mes pensées vont immédiatement vers Maël, touche à tout
                talentueux qui, il y a dix ans, a fabriqué un théâtre démontable et transportable alors un
                cadre même singulier de vélo….
        </p>
        <div id="projet-real-img-2" class="projet-img"><img src="../../assets/bike3.png"/></div>
        <p class="text" id="projet-real-text-2">Pour la cellule de vie, des contacts fructueux avec
                l’AFPA de Caen aboutissent à sa fabrication par des stagiaires pour une livraison en mars
                2019 non pas en carbone ou fibres de verre mais en fibres de lin de Normandie à partir
                d’une maquette réalisée par un ami ébéniste, Stéphane.
        </p>
  </div>
  <div id="projet-open-container" class="projet-point-container">
        <div id="projet-open-title" class="title">LE RESTE EST À VENIR</div>
        <div class="text" id="projet-open-text">
            <p>Pour cette fabuleuse aventure rêvée depuis 2014, initiée en 2017 j’ai besoin de vous tous
            pour finir de la concrétiser. Que vous soyez famille, amis, collègues, sponsors techniques ou
            financiers, que votre contribution soit généreuse ou plus modeste, je vous promets au
            travers de ce site de vous informer, de vous remercier, de vous faire rêver, de vous faire rire,
            de ne pas vous faire trop peur…. Alors n’hésitez pas à me suivre
            </p>
            <a href="" class="text">- - > Page Facebook</a>
        </div>

  </div>
  
</div>
<app-footer></app-footer>
