<div id="projet-container">
  <!-- WHO -->
  <div id="projet-qui-container" class="projet-point-container">
    <div class="circle circle1"></div>
    <div class="path-projet" id="path-projet1"><img src="../../assets/path-projet-1.png"/></div>
    <div id="projet-qui-title" class="title">BENOIT <br/>- GANIVET</div>
    <div id="projet-qui-img-1"></div>
    <div id="projet-qui-img-2"></div>
    <div id="projet-qui-subtitle" class="subtitle">QUI SUIS-JE ?</div>
    <p id="projet-qui-text-2" class="text">
        Benoit Ganivet 42 ans déjà, normand depuis toujours, assistant
        social depuis 20 ans, marié avec Anne-Caroline depuis 17 ans,
        père de 4 enfants de 13 ans à 9 ans, une envie de voyager
        autrement, des idées qui fourmillent et s’entrechoquent pour
        aboutir à la conception d’un camping bike pour participer à la plus
        folle course de vélo électro solaire …..
    </p>
  </div>
  <!-- WHAT -->
  <div id="projet-quoi-container" class="projet-point-container">
        <div class="circle circle2"></div>
        <div class="path-projet" id="path-projet2"><img src="../../assets/path-projet-2.png"/></div>
      <div id="projet-quoi-title" class="title">- THE <br/>SUN TRIP</div>
      <div id="projet-quoi-img-1"></div>
      <div id="projet-quoi-img-2"></div>
      <div id="projet-quoi-subtitle" class="subtitle">MON IDÉE</div>
      <p id="projet-quoi-text-1" class="text">Et olim licet otiosae sint tribus pacataeque centuriae et nulla suffragiorum certamina set Pompiliani redierit securitas temporis, per omnes tamen quotquot sunt partes terrarum, ut domina suscipitur et regina et ubique patrum reverenda cum auctoritate canities populique Romani nomen circumspectum et verecundum. </p>    
  </div>
  <!-- HOW -->
  <div id="projet-comment-container" class="projet-point-container">
        <div class="circle circle3"></div>
      <div id="projet-comment-title" class="title">DE L'IDÉE - <br/>À LA MODÉLISATION</div>
      <div id="projet-comment-img-1"></div>
      <div id="projet-comment-img-2"></div>
      <p id="projet-comment-text-1" class="text">
            pour cela, j’ai sollicité l’IUT à Alençon (Génie Mécanique et
            Productique) en juin 2017 et dés la rentrée 4 étudiants se positionnaient et c’est des
            rencontres régulières et des échanges avec eux que les plans sont sortis. Merci à Lucas,
            Dimitri, Victor et Alexandre.</p>  
  </div>
  <div id="projet-real1-container" class="projet-point-container">
        <div id="projet-real1-title" class="title">DE LA MODÉLISATION<br/>- À LA RÉALISATION</div>
        <p class="text">Les plans sont chauds mais cela ne construit pas le vélo.
            Pour souder le cadre en alu, mes pensées vont immédiatement vers Maël, touche à tout
            talentueux qui, il y a dix ans, a fabriqué un théâtre démontable et transportable alors un
            cadre même singulier de vélo….</p>

  </div>
  <div id="projet-real2-container" class="projet-point-container">

  </div>
  
</div>
<app-footer></app-footer>
