
.contactPage-container{
    padding-top:20%;
    color:#fff;
    background-color: grey;
    height:100vh;
}


@media only screen and (max-width: 640px){
    .contactPage-container{
       padding-bottom:20%;
    }
}


.contact-fields{
    width:70%;
    margin-left:15%;
    display: block;
    align-items: center;
    padding:5rem;
}

@media only screen and (max-width: 640px){
    .contact-fields{
        width:95%;
        margin:auto;
        padding:2%;
        margin-top:2rem;
    }

 }


.contact-input textarea{
    width:100%;
}

.contact-fields div {
    padding:0.5rem;
}

 .contact-fields button{
     float:right;
     width:40%;
     background-color: grey;
     border:1px solid #fff;

 }
 @media only screen and (max-width: 640px){

    .contact-fields button{ 
        width:100%;
        background-color: grey;
        border:1px solid #fff;
        float:none;
       

        
   
    }

 }


