

<div class="contactPage-container">
  <div class="contact-fields">
    <div class="contact-title big-title">
      <h1>CONTACT</h1>
    </div>
    <div class="email-field">
      <h5>Email</h5>
      <input type="email" class="form-control" aria-label="email" aria-describedby="basic-addon1">
    </div>
    <div class="contact-input">
      <h5>Message</h5>
      <textarea name="" id="" rows="10"></textarea>
    </div>
    <div class="contact-validate-btn">
     <button class="btn btn-lg message-input-fields">ENVOYER</button>
    </div>
  </div>
</div>